@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/assets/homeimg.jpg" alt="..." style="width: 900px; height: 400px;" /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">智能科技服务，创新驱动</h1>
            <p>上海耘立科技有限公司是一家专注于技术服务、供应链管理和智能机器人销售的综合性企业。我们提供全方位的技术咨询、开发和推广，并为客户提供工程管理和企业形象策划等服务。我们致力于为客户创造更高效的商业解决方案，并在数字创意领域持续创新。</p>
            @*<a class="btn btn-primary" href="#!">Call to Action!</a>*@
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">上海耘立科技有限公司致力于通过前沿解决方案改变产业格局。凭借创新的力量，我们助力客户领先一步。探索我们的变革性解决方案，开启无限可能的旅程！</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">前沿科技，引领变革</h2>
                    <p class="card-text">通过技术咨询、开发和推广，我们帮助客户实现创新突破，提升竞争力，推动行业的数字化转型。</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="/Topic1">更多</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">优化供应链，提升效率</h2>
                    <p class="card-text">我们提供专业的供应链管理服务，采用先进技术和最佳实践，帮助客户优化供应链流程，降低成本，提高运营效率。</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="/Topic2">更多</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">数字化转型，开启未来</h2>
                    <p class="card-text">我们提供全面的数字化解决方案，帮助客户实现企业的数字化转型。通过信息系统集成服务、软件开发和数据处理支持，我们帮助客户提升效率、降低成本，并打造创新的商业模式。</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="/Topic3">更多</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
@*<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>*@